<%# A virer  %>
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
</header>
<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "combiList.css" %>
<div class="container">
  <h1>Tous les <span class="text__red">Combis</span></h1>
  <div class="combis">
    <% @combis.each do |combi| %>
      <div class="combi">
        <a class="combi__link" href="<%= combi_path(combi) %>">
          <img class="combi__img" src="<%= combi.avatar.url %>">
        </a>
        <div class="combi__utilities">
          <div class="combi__info">
            <h2> <%= combi.marque %> </h2>
            <p> <%= combi.year %> </p>
          </div>
          <% if policy(combi).edit? %>
            <div class="combi__actions">
              <p><%= link_to 'Edit', edit_combi_path(combi) %></p>
              <p><%= link_to 'Destroy', combi, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% if policy(@combis).show? %>
    <p class="combi__add"><%= link_to 'New Combi', new_combi_path %></p>
  <% end %>
</div>
<br>

