<p id="notice"><%= notice %></p>

<h1>Combis</h1>

<table>
  <thead>
    <tr>
      <th>Marque</th>
      <th>Year</th>
      <th>Owner</th>
      <th>Kilometers</th>
      <th>Fueltype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @combis.each do |combi| %>
      <tr>
        <td><%= combi.marque %></td>
        <td><%= combi.year %></td>
        <td><%= combi.owner %></td>
        <td><%= combi.kilometers %></td>
        <td><%= combi.fueltype %></td>
        <td><%= link_to 'Show', combi %></td>
        <td><%= link_to 'Edit', edit_combi_path(combi) %></td>
        <td><%= link_to 'Destroy', combi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Combi', new_combi_path %>
