<%# A virer  %>
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
</header>
<%= stylesheet_link_tag "combi.css" %>

<p id="notice"><%= notice %></p>

<div class="combi__header" style="background: url(<%= @combi.avatar.url %>) no-repeat center center;">
  <form action="/pages/results" method="GET">


    <button class="combi__button">

      <svg width="20px" height="30px" viewBox="0 0 50 80" xml:space="preserve">
        <polyline fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="
      45.63,75.8 0.375,38.087 45.63,0.375 "/>
      </svg> 

    </button>

  </form>

  <h1 class="combi__title"> <%= @combi.marque %></h1>

</div>

<div class="combi__content">

<h2 class="combi__content__title">À propos du véhicule</h2>

  <div class="combi__content__list">

    <p class="combi__content__list__entry">
      <span>Marque:</span>
      <%= @combi.marque %>
    </p>

    <p class="combi__content__list__entry">
      <span>Year:</span>
      <%= @combi.year %>
    </p>

    <p class="combi__content__list__entry">
      <span>Owner:</span>
      <%= @combi.owner %>
    </p>

    <p class="combi__content__list__entry">
      <span>Kilometers:</span>
      <%= @combi.kilometers %>
    </p>

    <p class="combi__content__list__entry">
      <span>Fueltype:</span>
      <%= @combi.fueltype %>
    </p>

  </div>

</div>

<% if policy(@combi).edit? %>
  <%= link_to 'Edit', edit_combi_path(@combi) %> |
<% end %>
<%= link_to 'Back', combis_path %>

