<p id="notice"><%= notice %></p>

<p>
  <strong>Marque:</strong>
  <%= @combi.marque %>
</p>

<p>
  <strong>Year:</strong>
  <%= @combi.year %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @combi.owner %>
</p>

<p>
  <strong>Kilometers:</strong>
  <%= @combi.kilometers %>
</p>

<p>
  <strong>Fueltype:</strong>
  <%= @combi.fueltype %>
</p>

<div>
  <h3>Photos<h3>
  <%= image_tag @combi.avatar.url %>
</div>

<% if policy(@combi).edit? %>
  <%= link_to 'Edit', edit_combi_path(@combi) %> |
<% end %>
<%= link_to 'Back', combis_path %>
