<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
</header>

<h2 class="field__title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :username, autofocus: true, placeholder: 'nom' %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: 'adresse mail' %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em class="field__info">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "Confirmer mot de passe" %>
  </div>

  <div class="actions field__validate">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
