<%= form_with(model: @booking, local: true) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this @booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :startTime %>
    <%= form.text_field :startTime,
      id: :booking_startTime,
      value: (@booking.startTime.to_s.empty? ? Date.today : @booking.startTime),
      class: "datepicker start"
    %>
  </div>

  <div class="field">
    <%= form.label :endTime %>
    <%= form.text_field :endTime,
      id: :booking_endTime,
      value: (@booking.endTime.to_s.empty? ? Date.today + 1 : @booking.endTime),
      class: "datepicker end"
    %>
  </div>

  <div class="field">
    <%= form.label :annonce_id %>
    <%= collection_select(:booking, :annonce_id, Annonce.all, :id, :title) %>
  </div>

  <div class="field">
    <%= form.hidden_field :client_id, value: current_user[:id] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
