<h1><%= @user.username %></h1>
<h2><%= @user.email %></h2>
<%= image_tag @user.avatar.url %>

<h3>Rating</h3>
<% unless @rated %>
  <div class="rating">
    <% for i in 1..@max_rating do %>
      <span class="not-rated" data-creator-id="<%= current_user.id %>" data-user-id="<%= @user.id %>" data-type="User" data-value="<%= i %>">☆</span>  
    <% end %>
  </div>
<% else %>
  <div class="rating">
    <% for i in 1..@max_rating do %>
      <% if i <= @rated.rate %>
        <span class="gold" data-creator-id="<%= current_user.id %>" data-user-id="<%= @user.id %>" data-type="User" data-value="<%= i %>">☆</span>
      <% else %>
        <span data-creator-id="<%= current_user.id %>" data-user-id="<%= @user.id %>" data-type="User">☆</span>
      <% end %>
    <% end %>
  </div>
<% end %>