<%# A virer  %>
<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
</header>
<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "activiteList.css" %>
<div class="container">
  <h1>Tous les <span class="text__red">activites</span></h1>
  <div class="activites">
    <% @activites.each do |activite| %>
      <div class="activite">
        <a class="activite__link" href="<%= activite_path(activite) %>">
          <img class="activite__img" src="<%= activite.image.url %>">
        </a>
        <div class="activite__utilities">
          <div class="activite__info">
            <h2> <%= activite.titre %> </h2>
            <p> <%= activite.location %> </p>
          </div>
          <% if policy(activite).edit? %>
            <div class="activite__actions">
              <p><%= link_to 'Edit', edit_activite_path(activite) %></p>
              <p><%= link_to 'Destroy', activite, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% if policy(@activites).show? %>
    <p class="activite__add"><%= link_to 'New activite', new_activite_path %></p>
  <% end %>
</div>
<br>

