<p id="notice"><%= notice %></p>

<h1>Activites</h1>
Search <%= text_field_tag 'search', '', data: {'js-search' => true} %>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Location</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @activites.each_with_index do |activite, index| %>
      <tr>
        <td><%= activite.titre %></td>
        <td><%= activite.description %></td>
        <td><%= activite.location %></td>
        <td><%= activite.stars_number %></td>
        <td><%= link_to 'Show', activite %></td>
      <% if policy(activite).show_button? %>
       <td><%= link_to 'Edit', edit_activite_path(activite) %></td>
        <td><%= link_to 'Destroy', activite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if policy(@activites).show? %>
  <%= link_to 'New Activite', new_activite_path %>
<% end %>
