<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @activite.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activite.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @activite.location %>
</p>

  <fieldset class="rating rating-activite-<%= index %>">
    <legend>Please rate:</legend>
      <input data-activite-id="<%= index %> " data-type="Activite" type="radio" id="star5" name="rating-<%= index %>" value="5" /><label for="star5" title="Rocks!">5 stars</label>
      <input data-activite-id="<%= index %> " data-type="Activite" type="radio" id="star4" name="rating-<%= index %>" value="4" /><label for="star4" title="Pretty good">4 stars</label>
      <input data-activite-id="<%= index %> " data-type="Activite" type="radio" id="star3" name="rating-<%= index %>" value="3" /><label for="star3" title="Meh">3 stars</label>
      <input data-activite-id="<%= index %> " data-type="Activite" type="radio" id="star2" name="rating-<%= index %>" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
      <input data-activite-id="<%= index %> " data-type="Activite" type="radio" id="star1" name="rating-<%= index %>" value="1" /><label for="star1" title="Sucks big time">1 star</label>
  </fieldset>

<%= link_to 'Edit', edit_activite_path(@activite) %> |
<%= link_to 'Back', activites_path %>
