<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
</header>

<h2 class="field__title">Connection</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field__login">
    <%= f.text_field :login, autofocus: true, placeholder: 'Nom d\'utilisateur' %>
  </div>

  <div class="field__pwd">
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Mot de passe' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field__remember">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      
    </div>
  <% end -%>

  <div class="actions field__validate">
    <%= f.submit "Valider" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
