<p id="notice"><%= notice %></p>

<h1>Annonces</h1>

<%= stylesheet_link_tag "annonces.css" %>
<div class="container">
  <h1>Toutes les <span class="text__red">Annonces</span></h1>
    <div class="annonces">
      <% @annonces.each do |annonce| %>
        <div class="annonce">
          <a class="annonce__link" href="<%= annonce_path(annonce) %>">
            <div class="annonce__link__container">
              <p class="annonce__title"><%= annonce.title %></p>
              <p class="annonce__location"><%= annonce.location %></p>
              <p class="annonce__status"><%= annonce.status %></p>
            </div>
          </a>
          <div class="annonce__utilities">
            <div class="annonce__infos">
              <p class="annonce__debut"><%= annonce.start %></p>
              <p class="annonce__fin"><%= annonce.end %></p>
            </div>
            <% if policy(annonce).edit? %>
            <div class="annonce__actions">
              <p><%= link_to 'Edit', edit_annonce_path(annonce) %></p>
              <p><%= link_to 'Destroy', annonce, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% if policy(@annonces).show? %>
    <p class="annonce__add"><%= link_to 'New Annonce', new_annonce_path %><p>
  <% end %>
</div>
<br>


