<p id="notice"><%= notice %></p>

<h1>Annonces</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Creator</th>
      <th>Location</th>
      <th>Start</th>
      <th>End</th>
      <th>Combi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annonces.each do |annonce| %>
      <tr>
        <td><%= annonce.title %></td>
        <td><%= annonce.description %></td>
        <td><%= User.find(annonce.creator_id).username %></td>
        <td><%= annonce.location %></td>
        <td><%= annonce.start %></td>
        <td><%= annonce.end %></td>
        <td><%= annonce.combi_id %></td>
        <td><%= link_to 'Show', annonce %></td>        
        <% if policy(annonce).show_button? %>
          <td><%= link_to 'Edit', edit_annonce_path(annonce) %></td>
          <td><%= link_to 'Destroy', annonce, method: :delete, data: { confirm: 'Are you sure?' } %></td>          
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(@annonces).show? %>
  <%= link_to 'New Annonce', new_annonce_path %>
<% end %>
