<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <div class="header__content">
  <% if user_signed_in? %>
    <h1>Welcome <span class="text__red"><%= current_user.username %></span></h1>
  <% end %>
</div>
<div class="header__content">
  <%= link_to "Home", root_path %>
  <% if user_signed_in? %>
      <%= link_to "Mes réservations", bookings_path %>
      <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %>  
  <% else %>
      <%= link_to 'Se connecter', new_user_session_path %>
  <% end %>
</div>
</header>